@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 0.5s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  transition: opacity 0.5s ease-in-out;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: '\2713';
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/svg/play.svg');
}

.pause {
  background-image: url('../assets/svg/pause.svg');
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.transtalor__item {
  cursor: pointer;
}

.weather {
  width: 180px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  text-align: left;
  transition: opacity 0.5s ease-in-out;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  transition: opacity 0.5s ease-in-out;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: opacity 0.5s ease-in-out;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: opacity 0.5s ease-in-out;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.settings-button {
  cursor: pointer;
}

.settings-img {
  width: 45px;
  height: 45px;
  z-index: 3;
  padding: 0 0 5px 5px;
  cursor: pointer;
}

.settings-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 230px;
  left: 0;
  bottom: 0;
  gap: 10px;
  opacity: 0;
  z-index: 1;
  padding: 30px 10px;
  font-size: 1.2em;
  border-radius: 5px;
  background: #1c2321;
  transition: opacity 0.5s ease-in-out;
}

.cancel-menu {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  cursor: pointer;
}

.title {
  margin-bottom: 10px;
}

.language-settings {
  display: flex;
  flex-direction: column;
}

.settings-button {
  width: 30%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #dee2e6;
}

.language-buttons {
  display: flex;
  justify-content: space-around;
}

.slider-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5px;
}

.slider_icon {
  height: 20px;
  width: 20px;
}

.slider-tag {
  margin-top: 5px;
  height: 30px;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  outline: none;
  text-align: center;
  font-size: 1.05em;
}

.blocks-visible {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blocks-visible label {
  font-size: 1.1em;
  margin-bottom: 3px;
}

.quote-wrapper {
  width: 100%;
  height: 30vh;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  transition: opacity 0.5s ease-in-out;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.todo-list {
  display: flex;
  align-items: end;
  padding: 0 5px 5px 0;
  gap: 10px;
  transition: opacity 0.5s ease-in-out;
}

.todo-icon {
  width: 35px;
  height: 35px;
  z-index: 2;
  border-radius: 7px;
  background: white;
  cursor: pointer;
}

.todo__container {
  width: 40%;
  min-height: 100px;
  min-width: 320px;
  position: absolute;
  padding: 20px;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: #1c2321;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.todo__newtask {
  padding: 15px;
}

.todo__input {
  width: 75%;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-family: 'Arial', sans-serif;
  outline: none;
  font-size: 1.05em;
}

.todo__push {
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 1.5em;
  background: #ff9f1c;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.todo__tasks {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
}

.todo__task {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background: white;
  border-radius: 5px;
}

.task__text {
  font-family: 'Arial', sans-serif;
  color: black;
  font-size: 15px;
  font-weight: 400;
}

.task__delete {
  height: 100%;
  width: 40px;
  border-radius: 5px;
  background-color: #ff9f1c;
  border: none;
  cursor: pointer;
  outline: none;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.active {
  background: #ff9f1c;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
